div#content {
	margin: 0;
	width: 982px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div#login_form {
	width: 50%;
	float: left;
	clear: both;
}

div#register_form {
	width: 50%;
	float: left;
}

div#sign_in {
	margin: auto;
	text-align: center;
}

#header .slogan {
	float: left;
	font-size: 20px;
	padding-top: 15px;
	color: black;
}

#header p {
	color: #e4eaf1;
	font-size: 18px;
	margin-left: 30px;
	padding-top: 20px;
}

#content {
	background: #f3f1ee;
}

#content h1 {
	margin: auto;
	float: center;
	text-align: center;
}

#content h2 {
	font-family:Georgia,"Times New Roman",Times,serif;  
	font-weight:normal;  
	text-shadow:0 0 1px #000;  
	color:#4da6d4;  
	font-size:25px;  
	padding:2px 0 0;    
	line-height:1.2em;  
	margin: -5px 0 5px 0;   
	margin: auto;
	float: center;
	text-align: center;
}