/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ********************************************************************** */

body {
	width: 1024px;
	margin: none;
	padding: none;
	margin: auto;
	background: url('/images/v2/head_bg.jpg') repeat-x #c4c4c4;	/* #221E1B */
}

#header {
	margin: 0;
	padding: 0;
	height: 150px;
	
	background: url('/images/v2/header.png') top right no-repeat;
}

#bodyContent {
	background: url('/images/left_bg.png') left repeat-y #fff;
	
	-webkit-border-radius: 10px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-topright: 0;
	border-radius: 10px;
	border-top-right-radius: 0;
}

#userPanel {
	border: 1px solid transparent;
	width: 190px;
	min-height: 490px;
	float: left;
	padding: 5px;
}

#content {
	width: 780px;
	border: 1px solid transparent;
	min-height: 460px;
	padding: 20px;
	float: left;	
}

#footer {
	clear: both;
}

div.menu_bg {        
	margin-bottom: 10px;
	clear: both;

    border: 1px solid #e4e5dd;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(244,245,242)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(244,245,242) 0%,
        rgb(255,255,255) 100%
    );
    
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

    box-shadow: 0 0 2px #ccc;
    
    padding: 2px;
}

div.profile_summary {
	min-height: 80px;
}

div#menus_bottom {
	height: 2px;
	clear: both;
}

form#searchForm {
	float: left;
	clear: left;
	margin-top: 45px;
	margin-left: 35px;
}

form#searchForm img {
	float: left;
	margin-top: -3px;
}

.title_icon {
	float: left;
	clear: left;
}

/* ********************************************************************** */
/* Menus */
#menus {
	float: left;
	list-style: none;
	margin: 0;
	margin-top: -16px;
	padding: 0;
	width: 100%;
}
#menus li {
	float: right;
	font: 67.5% "Trebuchet MS";
	margin: 0 0 0 4px;
	padding: 0;
}
#menus a {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(44,42,38)),
		color-stop(0.65, rgb(78,74,71))
		);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(44,42,38) 7%,
		rgb(78,74,71) 65%
		);

	color: #fff;
	display: block;
	float: left;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	width: 100px;	
	text-align: center;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#menus a:hover {
	color: #fff;
	padding-bottom: 8px;
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(37,129,162)),
		color-stop(0.65, rgb(74,182,215))
		);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(37,129,162) 7%,
		rgb(74,182,215) 65%
		);
}

#menus a.selected {
	background: #fff;
	color: #000;
}
#menus a.selected:hover {
	color: #000;
}

/* ********************************************************************** */

#header h1 a {
	float: right;	

	color: #4da6d4;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 35px;
	font-family: "Georgia";
	width: 250px;	
	height: 35px;
	text-align: center;
	
	margin-top: 40px;
}

#header .slogan {
	float: left;
	font-size: 20px;
	margin-top: 40px;
}

#header p {
	color: white;
	font-size: 18px;
	margin-left: 30px;
}

#userPanel h2 {
	font-size: 14px;
	margin-bottom: 5px;
}

#userPanel h3 {
	font-size: 15px;
	clear: both;
	padding-left: 20px;
	margin-bottom: 5px;
	margin-left: 2px;
	font-family: "Helvetica";
	color: #fff;
	font-weight: bold;
}

#userPanel h3.likes {
	background: url('/images/v2/icon_like.png') no-repeat top left;
}

#userPanel h3.suggestions {
	background: url('/images/v2/icon_suggestion.png') no-repeat top left;
}

#userPanel h3.prescribers {
	background: url('/images/v2/icon_friends.png') no-repeat top left;
}


#userPanel img.avatar {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	max-width: 80px;
	max-height: 80px;
}

div.menu_bg ul { list-style: none; }
div.menu_bg ul li { }
div.menu_bg ul li a { display:block; text-decoration:none; color:#000000; line-height:22px;
  border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#CCCCCC; padding-left:10px; cursor:pointer; }
div.menu_bg ul li a:hover { color:#fff; background: #286dc3; }
div.menu_bg ul li a strong { margin-right:10px; }

.mail {
	font-size: 11px;
	font-style: italic;
}

#logout {
	margin: 5px;
	float: right;
}

a {
	text-decoration: none;
	font-size: 13px;
	color: #2580a2;
}

a:hover {
	color: #222526;
}

div#content img.piece {
	max-width: 100px;
	max-height: 90px;
	margin: 5px;
	float: left;
	clear: left;
}

/* ********************************************************************** */

.action_button {
	/* 2580a2 */
	
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.12, rgb(3,104,163)),
	    color-stop(0.86, rgb(148,200,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(3,104,163) 12%,
	    rgb(148,200,255) 86%
	);
	
	display: inline-block;
	padding: 2px 5px 3px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	margin-top: 10px;
	text-align: center;
}

.action_button:hover {
	color: #fff; /* #ffba6f */
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.12, rgb(4,37,56)),
	    color-stop(0.86, rgb(0,128,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(4,37,56) 12%,
	    rgb(0,128,255) 86%
	);

}

.like_button {
	display: inline-block;
	padding: 2px 6px 2px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	font-size: 12px;
	
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.12, rgb(3,104,163)),
	    color-stop(0.86, rgb(148,200,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(3,104,163) 12%,
	    rgb(148,200,255) 86%
	);
}

.like_button:hover {
	color: #fff; /* #ffba6f */
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.12, rgb(4,37,56)),
	    color-stop(0.86, rgb(0,128,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(4,37,56) 12%,
	    rgb(0,128,255) 86%
	);
}

/* ********************************************************************** */

#content h1 {
	font-family: "Times New Roman",Times,serif;  
	font-weight:normal;  
	text-shadow:0 0 1px #000;  
	color:#2580a2;  
	font-size:25px;  
	padding:2px 0 0;  
	line-height:1.2em;  
	margin: -5px 0 5px 0;
	border-bottom: 4px solid #2d6a83;
}

.newsDate {
	clear: both;
	float: right;
	margin-top: -10px;
	font-size: 12px;
}

/* ********************************************************************** */

table {
	
}

th {
	padding-right: 10px;
	padding-left: 10px;
	text-align: right;
	font-size: 15px;
	color: black;
	vertical-align: top;
}

tr {
	padding: 5px;
/*	background-color: #eae5db;*/
/*	border: 1px solid #ecdfc6;*/
/*	-moz-border-radius: 5px;*/
/*	-webkit-border-radius: 5px;*/
/*	-moz-box-shadow: 0 1px 3px #999;*/
/*	-webkit-box-shadow: 0 1px 3px #999;*/
}

td {
/*	border-top: 1px solid black;*/
/*	border-bottom: 1px solid black;*/
}

textarea {
	width: 98%;
}

label {
    font-family: Arial, Verdana;
    text-shadow: 2px 2px 2px #ccc;
    display: block;
    float: left;
    font-weight: bold;
    margin-right:10px;
    text-align: right;
    width: 120px;
    line-height: 25px;
    font-size: 15px;
}

#content input {
    font-family: Arial, Verdana;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #b9bdc1;
    width: 200px;
    color: #000;
}

#content input.submit {
    font-family: Arial, Verdana;
    font-size: 15px;
    padding: 2px 5px;
    border: 1px solid #b9bdc1;
    width: 100px;
    color: #797979;
    margin: 10px;
}

/* ********************************************************************** */
/* -> Popup  
                                                             */
div.popup
{
    position: fixed;
    block: display;
    width: 300px;
    height: 300px;    
    padding: 10px;
    
    border: 5px solid #7F203B;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 10px 30px #999;
    -webkit-box-shadow: 0 10px 30px #999;

/*        border: 1px solid #e4e5dd;*/
border: 1px solid #ccc;
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(244,245,242)),
            color-stop(1, rgb(255,255,255))
        );
        background-image: -moz-linear-gradient(
            center bottom,
            rgb(244,245,242) 0%,
            rgb(255,255,255) 100%
        );
}

/* ********************************************************************** */
/* -> Stars                                                               */

ul.stars {
	padding:0;
	margin:0;
	list-style-type:none;
}

/* ********************************************************************** */
/* -> Search                                                              */

#searchContent {
	font-family: Arial;
}

#searchContent b {
	font-weight: bold;
}

#searchContent h1 {
	font-size: 18px;
	padding-bottom: 10px;
	text-align: center;
}

#searchContent h2 {
	color: black;
	font-size: 16px;
	padding: 5px 0;
}

#searchContent h3 {
	color: gray;
	font-size: 14px;
	padding-bottom: 10px;
}

#searchContent p {
	font-size: 12px;
	color: black;
}

#searchContent .resultLink {
	display: block;
	padding-top: 5px;
}

#searchContent #results {	
	clear: both;
}

#searchContent .result {
	padding: 5px 0;
	width: 500px;
	margin: 0 auto;
}

#searchContent .stars {
	float: right;
}

#searchContent div.pagination {
	clear: both;
	text-align: center;
	margin: 0 auto;
}

#searchContent .piece {
	padding-right: 10px;
}

ul.stars li {
	margin-left:2px;
	float:left; /*pour IE*/
}

ul.error_list {
	color: red;
	font-size: 12px;
}

input.submitButton {
	float: right;
	margin-top: 20px;
}

.nbMessages {
	color: Orange;
}
