div.message {
	width: 95%;
	margin: 5px 10px 5px 10px;
	font-family: Arial;
	border: solid 1px transparent;
	padding: 5px;
	float: left;

        border: 1px solid #e4e5dd;
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(244,245,242)),
            color-stop(1, rgb(255,255,255))
        );
        background-image: -moz-linear-gradient(
            center bottom,
            rgb(244,245,242) 0%,
            rgb(255,255,255) 100%
        );

        box-shadow: 0 0 2px #ccc;
}

div.answer {
	width: 85%;
	margin: 0px 10px 0px 88px;
	font-family: Arial;
	border: solid 1px transparent;
	padding: 5px;
	float: left;

        border: 1px solid #e4e5dd;
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(244,245,242)),
            color-stop(1, rgb(255,255,255))
        );
        background-image: -moz-linear-gradient(
            center bottom,
            rgb(244,245,242) 0%,
            rgb(255,255,255) 100%
        );

        box-shadow: 0 0 2px #ccc;
}

div.message img.avatar, div.answer img.avatar, div#message_form img.avatar {
	float: left;
	max-width: 40px;
	max-height: 40px;
	margin: 0 5px 5px 0;
}

div#message_form img.avatar {
	max-width: 40px;
	max-height: 40px;
	float: none;
}

td.message_addressee {
	text-align: center;
}

div.message div#content, div.answer div#content  {
	float: left;
}

div.message div.content h4, div.answer div.content h4 {
	margin-bottom: 2px;
}

div.message div.content h4 a, div.answer div.content h4 a {
	font-size: 14px;
}

div.message div.content p, div.answer div.content p {
	font-size: 13px;
}

div.message p.date, div.answer p.date {
	float: right;
	font-size: 13px;
}

div.message a.answer {
	float: right;
}