#content b {
	font-weight: bold;
}
#content {
	font-family: Arial;
	font-size: 14px;
}

#content h1.bookTitle, 
#content h2,
#content h3,
#content h4 {
	margin-right: 20;
}

#content h2, #content h3, #content h4 {
	display: inline-table;
	padding-top: 10px;
	font-size: 14px;
	color: black;
}

#content h1.bookTitle {
	font-size: 26px;
	padding-left: 140px;
}

#content h2 {
	padding-left: 10px;
}

#content h3 {
	color: gray;
}

#content h4 {
	color: gray;
	font-style: italic;
}

#content #illustration {
	float: left;
	padding: 0 20px 10px 0;
	max-height: 150px;
	max-width: 300px;
}

#content .review {
	font-family: Arial;
	border: solid 1px #e4e5dd;
	float: left;
	padding: 10px;
	margin: 10px 20px 0 20px;
	width: 92%;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(244,245,242)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(244,245,242) 0%,
        rgb(255,255,255) 100%
    );
    box-shadow: 0 0 2px #ccc;
}

#content .comment {
	font-family: Arial;
	border: 1px solid #e4e5dd;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(244,245,242)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(244,245,242) 0%,
        rgb(255,255,255) 100%
    );

    box-shadow: 0 0 2px #ccc;
	float: left;
	padding: 10px;
	margin: 0 20px 0 122px;
	width: 79%;
}

#content #editButton, .review .commentButton, #content #viewButton, #content #writeButton {
	float: right;
	clear: right;
}

.review .commentButton {
	margin-top: 10px;
}
	
#content #viewButton {
	float: left;
	display: inline;
	clear: right;
	padding: 0;
}

#content #writeButton {
	clear: right;
	padding: 0;
}

#content hr {
	margin: 10px 0;
}

#content .stars, #content .likeZone {
	float: right;
	text-align: right;
}

.review .content, .comment .content {
	float: left;
}
	
#content #reviews {
	margin: 20px 0;
}

.star {
	height: 15px;
	width: 15px;
	margin-top: 10px;
}

.review .avatar {
	float: left;
	max-height: 64px;
	padding-right: 10px;
}

.review .name {
	font-style: italic;
	margin-top: 3px;
}

.review .message {
	font-style: italic;
	display: inline;
	padding-left: 10px;
	font-size: 14px;
}

.comment .avatar {
	float: left;
	max-height: 32px;
	padding-right: 10px;
}

.comment .name {
	font-style: italic;
	margin-top: 3px;
}

.comment .message {
	font-style: italic;
	display: inline;
	padding-left: 0px;
	font-size: 14px;
}

.newsDate {
	text-align:right;
}