div.content_bg {
	padding: 1px 5px 3px 5px;
	margin-bottom: 5px;

    border: 1px solid #e4e5dd;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(244,245,242)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(244,245,242) 0%,
        rgb(255,255,255) 100%
    );

    box-shadow: 0 0 2px #ccc;
}

div#profile {
	width: 250px;
	float: left;
}

div#prescribers {
	margin-left: 2px;
	width: 247px;
	float: left;
}

div#prescribers div.content_bg {
    min-height: 84px;
}

div#suggestions {
	margin-left: 8px;
	width: 247px;
	float: left;
}

div#suggestions div.content_bg {
    min-height: 84px;
}

div#feelings {
	width: 240px;
	float: left;
	clear: left;
}

div#profileContent {
	width: 500px;
	margin-top: 14px;
	margin-left: 12px;
	float: left;
}

#profile img.avatar {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	max-width: 80px;
	max-height: 80px;
}

h3 {
	font-size: 14px;
}

div.content_bg ul li img {
	max-width: 45px;
	max-height: 25px;
}

a.more {
	float: right;
}

div#profile a {
	display: block;
	margin: 2px;
}

div#content div h3 {
    font-size: 15px;
	padding-left: 8px;
	border-bottom: 2px solid #2d6a83;
	margin-bottom: 5px;
	margin-left: 2px;
	font-family: "Helvetica";
}

#profilepage #illustration {
	float: left;
	padding: 0 20px 10px 0;
	max-height: 150px;
	max-width: 300px;
}

#profilepage .review {
	font-family: Arial;
	font-size: 14px;
	border: solid 1px #e4e5dd;
	float: left;
	padding: 10px;
	margin: 10px 0 0 0;
	width: 96%;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(244,245,242)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(244,245,242) 0%,
        rgb(255,255,255) 100%
    );
    box-shadow: 0 0 2px #ccc;
}

.review .commentButton {
	float: right;
	clear: right;
	margin-top: 10px;
}

#profilepage .stars,
#profilepage .likeZone {
	float: right;
	text-align: right;
	width: 200px;
}

.review .content {
	float: left;
}

#profilepage #reviews {
	margin: 20px 0;
}

.content .star {
	height: 15px;
	width: 15px;
}

.review .avatar {
	float: left;
	max-height: 64px;
	padding-right: 10px;
}

.review .name {
	font-style: italic;
	margin-top: 3px;
	margin-right: 110px;
}

.review .message {
	font-style: italic;
	display: inline;
	padding-left: 10px;
	font-size: 14px;
}

.star {
	height: 15px;
	width: 15px;
	margin-top: 10px;
}

.newsDate {
	margin-top: 5px;
	text-align:right;
}
